/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */


:root{
   /* шрифты */
   --basic-font-style: 'Roboto', sans-serif;
   --secondary-font-style: 'Raleway', sans-serif;
   /* цвет фона */
   --basic-background: #ffffff;
   --secondary-background: #2f303a;
   /* цвет фона кнопок */
   --background-btn:#f5f4fa;
   --background-btn-hover:#2196f3;
   /* цвета текста */
   --color-text:#212121;
   --color-text-two:#757575;
   --color-text-link:#757575;
   /* цвета текста (hover)*/
   --color-text-btn: #2196f3;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
   margin: 0;
}
ul{
   margin: 0;
   padding: 0;
}
body{
   font-family:var(--basic-font-style);
}

.container{
   display: flex;
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}


/* header навигация контакты */
.header{
   min-height: 80px;
}
.header-list{
   padding-left: 0;
   margin: 0;
}
.list,
.info-block{
   list-style: none;
}
.nav-item-link{
   text-decoration: none;
color: var(--color-text);

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.1;

letter-spacing: 0.02em;
}
.nav-link{
   text-decoration: none;
   color: var(--color-text-link);

   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;

   letter-spacing: 0.02em;

}
.nav-item-link:hover,
.nav-link:hover,
.minor-linc:hover,
.minor-address:hover{
color: var(--color-text-btn);
}
.list-nav-list{
   margin-left: auto;
   margin-right: 155px;
}

/* navigation */
.nav-list-item{
   margin-right: 50px;
   margin-top: 32px;
}

.nav-list-item:last-child{
   margin-right: 0;
}
.nav-list-item:first-child{
   margin-left: 0;
}
.nav-list{
   margin-top: 33px;
}
.nav-list:first-child{
   margin-right: 50px;
}

.list{
   display: flex;
}
.nav-btn {
   text-decoration: none;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.1;
   letter-spacing: 0.03em;
}
.nav-btn:hover{
   color: #ffffff;
   background-color: var(--background-btn-hover);
   cursor: pointer;
}
.basic-btn:hover{
   cursor: pointer;
}

/* контакты */
.heading{
   background-color: var(--secondary-background);

   padding: 140px 104px;
   text-align: center;
}
.basic-heading{
   color: #ffffff;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.3;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}
.basic-btn{
   text-decoration: none;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.1;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   background-color: var(--background-btn-hover);

   margin-top: 30px;
   padding: 10px 32px;
}
/* секция приемущeств */
.container-block{
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 94px;
   padding-bottom: 94px;
}


.details-item{
   margin-right: 30px;
}
.details-item:last-child{
   margin-right: 0;
}
.details-item-element {
   color: var(--color-text);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.details-item-part {
color: var(--color-text-two);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;

margin-top: 10px;
}



/* список картинок */
.small-header{
   color: var(--color-text);
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   text-align: center;
   margin-top: 94px;

}

.list-image-item{
   margin-top: 50px;
   margin-right: 30px;
}
.list-image-item:last-child{
   margin-right: 0;
}

/* список участников */


.hero-container{
   padding: 94px 0;
}

.hero-list{
   justify-content: center;
}

.personal-info-item{
   text-align: center;

   margin-right: 30px;
   margin-top: 50px;
   padding-bottom: 30px;
}
.personal-info-item:last-child{
   margin-right: 0;
}

.small-hero {
   color: var(--color-text);
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   text-align: center;
}

.personal-name {
   color: var(--color-text);
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   padding-top: 30px;
}
.personal-profession {
   color: var(--color-text-two);
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}

.personal-image{
   display: block;
}

/* basic information */

.basic-container{
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 94px;
   padding-bottom: 94px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info-block{
   margin-top: 50px;
   flex-wrap: wrap;
   justify-content: center;
}

.info-block-item{
   margin-right: 30px;
   margin-top: 30px;
   padding-bottom: 20px;
}

.info-block-item:nth-child(-n + 3) {
margin-top: 0;
}

.info-block-item:last-child{
   margin-right: 0;
}

.basic-list{
   text-align: center;
}

.list-item-nav{
   margin-right: 8px;
}
.list-item-nav:last-child{
   margin-right: 0;
}

.info-item-btn{
   text-decoration: none;
}

.minor-list{
   flex-direction: column;
}

.info-item-name {
color: var(--color-text);
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;

margin-top: 20px;
margin-left: 24px;
}
.info-item-txt{
   color: var(--color-text-two);
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   margin-top: 4px;
   margin-left: 24px;
}


/* подвал контактов  */
address{
   font-style: normal;
}
.minor-information {
   background-color: var(--secondary-background);

}

.minor-container{
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 60px;
   padding-bottom: 60px;
}

.minor-address {
   color: #ffffff;
   text-decoration: none;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}
.minor-linc {
   text-decoration: none;
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
}


/* специфычные */
.logo{
   text-decoration: none;
   color: var(--color-text);
   font-family: var(--secondary-font-style);
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;

   margin-right: 93px;
   margin-top: 24px;
}
.logo-footer{
   text-decoration: none;
   color: rgb(255, 255, 255);
   font-family: var(--secondary-font-style);
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;


}
.logo-span{
   color: var(--color-text-btn);
}




